{%  load static %}
<DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>Games</title>

			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"

			




		</head>


		<body>
			
			<nav class="navbar navbar-inverse">
  				<div class="container-fluid">
    				<div class="navbar-header">
      					<a class="navbar-brand" href="https://www.youtube.com/user/danny11426">Canal Simulacro</a>
    						</div>
    							<ul class="nav navbar-nav">
      							<li class="active"><a href="http://localhost:8000/blog/">HOME</a></li>
      							<li><a href="http://localhost:8000/blog/contato/">CONTATO</a></li>
      							<li><a href="http://localhost:8000/blog/sobre/">SOBRE</a></li>
      							<li><a href="http://localhost:8000/blog/games/">GAMES</a></li>
    							</ul>
    							<ul class="nav navbar-nav navbar-right">
      							
    							</ul>
  							</div>
				</nav>

			
			<center> <h2>GAMES</h2> </center> </br>

			<center> <h3>SIMULACRO GAMES</h3> </center>
			</br>

			<center>
			<P>
				A simulacro Games é uma produtora independente de games, estamos trabalhando na produção de jogos eletrônicos. </P> <p> Em breve traremos mais detalhes sobre desenvolvimento, tutoriais, produção e nossos games desenvolvidos.</p>			
			</center>
		</br>
			<center>
				{% load static %}
			<img src="{% static "blog/imagens/simulacroLogo.jpg" %}" alt="My image" style="width:600px;height:200px;"/>
	

</center>
			

		</body>
	</html>