{%  load static %}
<DOCTYPE html>


	<html>

		<head>
			<title>Home</title>

			<meta charset="utf-8"/>


		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

			
			
		</head>



		<body>


			<nav class="navbar navbar-inverse">
  				<div class="container-fluid">
    				<div class="navbar-header">
      					<a class="navbar-brand" href="https://www.youtube.com/user/danny11426">Canal Simulacro</a>
    						</div>
    							<ul class="nav navbar-nav">
      							<li class="active"><a href="http://localhost:8000/blog/">HOME</a></li>
      							<li><a href="http://localhost:8000/blog/contato/">CONTATO</a></li>
      							<li><a href="http://localhost:8000/blog/sobre/">SOBRE</a></li>
      							<li><a href="http://localhost:8000/blog/games/">GAMES</a></li>
    							</ul>
    							<ul class="nav navbar-nav navbar-right">
      							
    							</ul>
  							</div>
				</nav>


	<center><h2>HOME</h2></center>

	<div style="padding: 25px;">
	<p><h2>Análises de filmes, séries, games, livros, teorias do mundo audiovisual, resenhas e dicas para fãs da sétima arte e narrativas. <a href="http://canalsimulacro.blogspot.com/">Textos novos toda semana</a> </h2></p>
    </div>
	


<center>
				{% load static %}
			<img src="{% static "blog/imagens/sp.jpeg" %}" alt="My image" style="width:800px;height:400px;"/>
	

</center>

		
			
				


</body>