<DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>Sobre</title>

			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">




		</head>


		<body>
			
			<nav class="navbar navbar-inverse">
  				<div class="container-fluid">
    				<div class="navbar-header">
      					<a class="navbar-brand" href="https://www.youtube.com/user/danny11426">Canal Simulacro</a>
    						</div>
    							<ul class="nav navbar-nav">
      							<li class="active"><a href="http://localhost:8000/blog/">HOME</a></li>
      							<li><a href="http://localhost:8000/blog/contato/">CONTATO</a></li>
      							<li><a href="http://localhost:8000/blog/sobre/">SOBRE</a></li>
      							<li><a href="http://localhost:8000/blog/games/">GAMES</a></li>
    							</ul>
    							<ul class="nav navbar-nav navbar-right">
      							
    							</ul>
  							</div>
				</nav>

			
			<center> <h2>Sobre</h2> </center>

      <center>
        {% load static %}
      <figure>
      <img src="{% static "blog/imagens/clube.jpg" %}" style="width:600px;height:400px;"alt="My image"/>
      </figure>
      </center>


      <div style="padding: 25px;">
      <P>
        O Canal Simulacro é um projeto que envolve entretenimento, arte e tecnologia, começamos como um grupo
        entusiasta que acredita da na produção independente, e acredita que a sétima arte ainda pode render boas discussões.</P> 
        <p>
          Resenhas criticas e análises de filmes e séries semanalmente no nosso blog, além de um canal de youtube que possibilita ainda mais esse dialogo entre os fãs do audiovisual.
        </p>
        <p>
          Estamos trabalhando na divisão de Games e esperamos trazer mais novidades em breve.
        </p>   

        </div>  
      
</body>
			